.headerbackground {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px; /* Adjusted padding */
}

.logo {
  width: 100px;
  margin-left: 10px; /* Added margin for space on the left side */
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #fafafa;
  font-weight: 400;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .navigation {
    flex-wrap: wrap;
  }
}

.nav-item {
  font-family: Neuton, sans-serif;
  border-radius: 25px;
  background-color: #3a3c63;
  white-space: nowrap;
  justify-content: center;
  padding: 24px 51px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .div {
    flex-direction: column;
    padding: 20px;
  }

  .navigation {
    margin: 0;
    justify-content: center;
  }
}
.container-2 {
  disply: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 700px;
  width: 100%;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  padding: 80px 60px;
}
@media (max-width: 991px) {
  .container-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.Frontpageimage {
  position: absolute;
  inset: 0;
  height: 85%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.3; /* 70% translucent */
}
.Kasse {
  position: relative;
  display: flex;
  width: 743px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 101px 0 52px;
}
@media (max-width: 991px) {
  .Kasse {
    margin: 40px 0;
  }
}
.Welcome {
  color: #3a3c63;
  font: 700 40px Playfair Display, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.Text1 {
  color: #27272a;
  text-align: center;
  font-family: Neuton, sans-serif;
  align-self: stretch;
  margin-top: 82px;
}
@media (max-width: 991px) {
  .Text1 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.hire-me {
  font-family: Neuton, sans-serif;
  border-radius: 25px;
  background-color: #3a3c63;
  margin-top: 63px;
  color: #fafafa;
  justify-content: center;
  padding: 24px 46px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .hire-me {
    margin-top: 40px;
    padding: 20px 20px;
  }
}
.container-3 {
    background-color: #fafafa;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    margin-top: -130px; /* Adjust the value as needed */
}
@media (max-width: 991px) {
    .container-3 {
        max-width: 100%;
        padding: 0 20px;
        margin-top: 0; /* Reset margin-top for mobile view if needed */
    }
}

.content-wrapper-3 {
    width: 100%;
    max-width: 996px;
    margin: 45px 0 20px;
}
@media (max-width: 991px) {
    .content-wrapper-3 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.profile1 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .profile1 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.image-column1 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .image-column1 {
        width: 100%;
    }
}

.Facepicture {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    border-radius: 25px;
}
@media (max-width: 991px) {
    .profile-image {
        max-width: 100%;
        margin-top: 40px;
    }
}

.text3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .text3 {
        width: 100%;
    }
}

.text-content3 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 20px;
    font-weight: 400;
    margin: auto 0;
}
@media (max-width: 991px) {
    .text-content3 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.title2 {
    color: #3a3c63;
    font: 30px Lora, sans-serif;
}
@media (max-width: 991px) {
    .title2 {
        max-width: 100%;
    }
}

.text4 {
    color: #27272a;
    font-family: Neuton, sans-serif;
    margin-top: 68px;
}
@media (max-width: 991px) {
    .text4 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.read-more {
    font-family: Neuton, sans-serif;
    border-radius: 25px;
    background-color: #3a3c63;
    align-self: start;
    margin-top: 106px;
    color: #fafafa;
    justify-content: center;
    padding: 24px 34px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .read-more {
        margin-top: 40px;
        padding: 20px 20px;
    }
}
.container4 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px 60px;
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.Middleimage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.3; /* 70% translucent */
}
.image-group {
  position: relative;
  display: flex;
  width: 860px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .image-group {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
  }
}
.image-wrapper4 {
  background-color: #3a3c63;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.image4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100px;
}
.container5 {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}
@media (max-width: 991px) {
  .container5 {
    max-width: 100%;
    padding: 20px 20px;
  }
}
.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1180px;
  flex-direction: column;
  margin: 48px 0 30px;
}
@media (max-width: 991px) {
  .content-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}
.row {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .row {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column1 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column1 {
    width: 100%;
  }
}
.item1 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #27272a;
  font-weight: 400;
}
@media (max-width: 991px) {
  .item1 {
    margin-top: 40px;
  }
}
.image5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.caption {
  font-family: Neuton, sans-serif;
  margin: 10px 0 35px 25px;
}
@media (max-width: 991px) {
  .caption {
    margin-left: 10px;
  }
}
.see-more {
  border-radius: 25px;
  background-color: #3a3c63;
  align-self: center;
  margin-top: 115px;
  color: #fafafa;
  justify-content: center;
  padding: 24px 42px;
  font: 400 20px Neuton, sans-serif;
  cursor: pointer;
}
@media (max-width: 991px) {
  .see-more {
    margin-top: 40px;
    padding: 20px 20px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}
@media (max-width: 991px) {
  .footer-container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.Footerimage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.3; /* 70% translucent */
}
.footer-content-wrapper {
  position: relative;
  display: flex;
  width: 910px;
  max-width: 100%;
  flex-direction: column;
  margin: 100px 0 10px;
}
@media (max-width: 991px) {
  .footer-content-wrapper {
    margin-top: 40px;
  }
}
.footer-icon-row {
  align-self: center;
  display: flex;
  width: 370px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.footer-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 70px;
  background-color: #3a3c63;
  border-radius: 50%;
  height: 70px;
  cursor: pointer;
}
.footer-navigation {
  display: flex;
  margin-top: 100px;
  gap: 20px;
  font-size: 20px;
  color: #fafafa;
  font-weight: 400;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .footer-navigation {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.footer-nav-item {
  font-family: Neuton, sans-serif;
  border-radius: 25px;
  background-color: #3a3c63;
  white-space: nowrap;
  justify-content: center;
  padding: 24px 51px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .footer-nav-item {
    white-space: initial;
    padding: 20px 20px;
  }
}
